.contacts_list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 22.5rem;
  margin-inline: auto;
}

.contacts_list li {
  padding: 1rem;
  display: flex;
  gap: 0.25rem;
}

.contacts_list a {
  color: var(--text-clr);
  font-family: var(--font-fam-accent);
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: none;
}

.contacts_list a:visited {
  color: inherit;
}
