.nav_list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 22.5rem;
  margin-inline: auto;
}

.nav_list li {
  padding: 1rem;
  text-align: center;
}

.nav_list a {
  color: var(--text-clr);
  font-family: var(--font-fam-accent);
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: none;
}

.nav_list a:visited {
  color: inherit;
}
