.header {
  min-height: 70dvh;
  display: grid;
  align-items: center;
  justify-content: center;
}

.header_hero {
  background-image: url("../../assets/portfolio-profile-picture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50% 50% 70% 30% / 57% 54% 46% 43%;
  max-width: 22.5rem;
  min-width: 22.5rem;
  min-height: 30rem;
}
